@font-face {
    font-family: 'SF Pro Display';
    src: url(fonts/sf-pro-display/SFProDisplayBold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url(fonts/sf-pro-display/SFProDisplayRegular.ttf);
    font-weight: 400;
}

body {
    user-select: none;
    margin: 0;
    background: #EDEDED;
}

a {
    color: inherit;
}

.page {
    padding: 0;
    min-width: 335px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;

    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;

    color: #000000;

    background: #EDEDED;


    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 390px;
}


.form-widget {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #EDEDED;
}

.form-widget__root {
    flex: 1;
    display: flex;
    flex-direction: column;
}
